.builder {
    >div {
        >div {
            &:hover {
                &::after {
                    display: block;
                    color: #fff !important;
                }

                >.move-icon {
                    display: block;
                }
            }

            >div {
                >div {
                    &:hover {
                        .tag_name {
                            display: block;
                        }

                        >.move-icon {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}