.builder {
    .builder_content {
        &:hover {
            &::after {
                display: block;
                color: #fff !important;
            }

            .move-icon-row {
                display: block;
            }
        }
    }

    .drag-handle {
        &:hover {
            .tag_name {
                display: block;
            }

            .move-icon-content {
                display: block;
            }
        }
    }
}